/* коріння */
:root {
    --color-blue: #2196F3; 
    --color-btn-focus: #188CE8;
    --color-text-header: #000000;
    --color-text-primary: #757575;
    --color-text-secondary: #212121; 
    --color-bcg-head-foot: #2F303A;
    --color-white-txt: #FFFFFF;
    --color-sect-worker: #F5F4FA;
    --color-border: #ECECEC;


}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    color: var(--color-text-primary);
    background: var(--color-white-txt);
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.container {
    width: 1230px;
    padding: 0 15px;
}
/* Скритий заголовок */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.site-nav {
    
}

.site-nav, 
.link.current {
    color: var(--color-blue);
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;

}

/* logo */

.accent {
    color: var(--color-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
}
.header {
    border: 1px var(--color-border);
    margin: 0 auto;
}
.header-logo {
    color: var(--color-text-header);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* Nav */

.link {
    color: var(--color-text-secondary);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link:hover, 
.link:focus {
    color: var(--color-blue);
}
.aside {
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.aside:hover,
.aside:focus {
    color: var(--color-blue);
}

/* hero */

.hero-section {
    background-color: var(--color-bcg-head-foot);
}
.hero-title {
    color: var(--color-white-txt);
    text-align: center;
    text-transform: uppercase;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}
/* buttons */
.button {
    display: inline-block;
    border: 1px transparent;
    color: var(--color-white-txt);
    background-color: var(--color-blue);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 24px;
    border-radius: 4px;
    text-align: center;


}
.button-main:focus,
.button-main:hover {
    background-color:  var(--color-btn-focus)
}

.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    
}
.portfolio-button:focus,
.portfolio-button:hover {
    background-color: var(--color-btn-focus)
}
/*  sections  */

.section-title {
    color: var(--color-text-secondary);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title {
    color: var(--color-text-secondary);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.item-work {
    margin-right: 30px;
}
.item-work:last-child {
    margin-right: 0;
}
/* worker  */


.section-worker {
    background-color: var(--color-sect-worker);
}
.user {
    color: var(--color-text-secondary);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

}
.user-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 0;

}


.worker-box {
    background-color: var(--color-white-txt);
    padding: 30px;
}
.worker-box {

}

/* portfolio  */

.portfolio-title {
    color: var(--color-text-secondary);
    font-weight: 700;
        font-size: 18px;
        line-height: 2px;
        letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
}
/* footer  */
.footer {
    background-color: var(--color-bcg-head-foot)
}
.address {
    font-style: normal;
}
.footer-logo {
    color: var(--color-white-txt);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.footer-aside {
    color: rgba(255, 255, 255,0.6);
    text-decoration: none;
}
.footer-link {
    color: var(--color-white-txt);
    text-decoration: none;
}

.portfolio-item {
    text-decoration: none;
    color: var(--color-text-primary);
}

.section {
    padding: 94px;
}
.header-box {
    display: flex;
}
